/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    background: rgb(223, 247, 255);
    font-family: "Turret Road", sans-serif;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    background-color: #0d6dea;
}

/* Logo */
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Nav Links */
.nav-links{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

/* Hover Underline Animation */
.nav-links a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;

    width: 0%;
    height: 2px;
    background: white;

    transition: width 0.3s;
}

.nav-links a:hover::after{
    width: 100%;
}

/* Profile Card */
.card{
    width: 350px;

    background:whitesmoke;
    margin: 60px auto;
    padding: 30px;

    border-radius: 15px;

    text-align: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Profile Image */
.card img{
    width: 140px;
    height: 140px;

    border-radius: 50%;

    object-fit: cover;

    margin-bottom: 20px;

    border: 4px solid #ddd;
     transition: 0.3s;
}

/* Heading */
.card h2{
    margin-bottom: 10px;
     font-family: "Sofia", cursive;
      transition: 0.3s;
     
}

/* Role */
.role{
    color: #555;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Bio */
.bio{
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
}

/* Buttons Container */
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Buttons */
.btn{
    padding: 12px 25px;

    border: none;
    border-radius: 30px;

    color: white;
    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

/* Gradient Buttons */
.follow-btn{
    background: linear-gradient(to right, #00c6ff, #0072ff);
}

.message-btn{
    background: linear-gradient(to right, #ff512f, #dd2476);
}

/* Hover Effects */
.btn:hover{
    transform: scale(1.08);
    opacity: 0.85;
}
img:hover{
    transform: scale(1.08);
   
}
h2:hover{
      transform: scale(1.02);
  color: crimson;
}